<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 no-underline db b h-100 w3 flex-none">Home</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3" style="margin-left:auto">
		<li><a href="/gallery" class="pa3 no-underline db">Gallery</a></li>

		<li><a href="/words" class="pa3 no-underline db">Words</a></li>

		<li><a href="/about" class="pa3 no-underline db">About</a></li>

		<li><a href="/news" class="pa3 no-underline db">News</a></li>
	</ul>

</nav>
